{{titlePage | json}}
<form [formGroup]="form">
  {{form.getRawValue() | json}}
  <input type="text" placeholder="email" formControlName="email">
  <input type="password" placeholder="password" formControlName="password">
  <input type="text" placeholder="firstName" formControlName="firstName">
  <input type="text" placeholder="lastName" formControlName="lastName">
  <input type="text" placeholder="age" formControlName="age">
  <div *ngIf="form.get('age')?.errors?.['isNotNumber']"> Age must be number </div>
  <button (click)="onReset()">Reset</button>
</form>
{{form.valid | json}}